
<div class="transbox"> 
<div class="col-lg-10 col-md-offset-1">
<div class="well bs-component">
  
 <h1 style="text-align: center;"><span style="color: #ff0000;">Accommodations</span></h1>
  <body> 

<p style="text-align: center;"><span style="text-decoration: underline;"><strong>Hotel Name</strong> :<strong> Best Western Kings Inn (Located Near Metrotown)</strong></span><br />This straightforward hotel is a 14-minute walk from Metropolis at Metrotown shopping centre and 4.1 km from Burnaby Village Museum.</p>
<p style="text-align: center;">Functional rooms and suites come with flat-screen TVs, minifridges and coffeemakers. Freebies include WiFi and stays for kids 15 and under. Some quarters have kitchenettes and/or pull-out sofas.</p>
<p style="text-align: center;">Hot breakfast, parking and access to a nearby fitness centre are all free. There&rsquo;s a seasonal outdoor pool, plus meeting rooms and a business centre.</p>
<p style="text-align: center;"><strong>Address: 5411 Kingsway, Burnaby, BC V5H 2G1</strong><br /><strong>Phone:(604) 438-1383</strong></p>
<p style="text-align: center;"><br />Rooms have been reserved for our guests at the Best Western Hotel Kings Inn. Please mention the Desai-</p>
<p style="text-align: center;">Unadkat Wedding to receive a special rate. Kindly reserve your room no later than July 4th, 2016</p>

  
  
  </body>
  </div>
  </div>
</div>