<div class="background">
  <div class="transbox">
  <p style="text-align: center;"><span style="color: #ff0000;"> Accomodations</span></p>
  <body> The following reservations have been made in your honour: <br> <br>
  
         Best Western Hotel Kingsway: (Located Near Metrotown): www.bestwesternkingsinn.com/
         Best Western 

  
  
  </body>
  </div>
</div>