</style>
</head>
<body>

<div class="transbox">
<div class="col-lg-10 col-md-offset-1">
<div class="well bs-component">
<h1 style="text-align: center;">&nbsp;</h1>
<h1 style="text-align: center;"><span style="color: #ff0000;">&nbsp;<strong>#HappilyEverDesai</strong></span></h1>
<h1 style="text-align: center;">SONAL &amp; NILAY</h1>
<h1 style="text-align: center;"><span style="color: #ff0000;"><strong>August 5, 2016</strong></span></h1>
<h1 style="text-align: center;">Welcome to our Wedding Page!</h1>
<h2 style="text-align: center;">We would like to thank you for visiting our wedding website!</h2>
<h2 style="text-align: center;">With only a few months left, we are more than excited to have you share our special day with us and we look forward to seeing everyone at our wedding. Thank you to all that have expressed congratulations</h2>

<p>&nbsp;</p>
<h1 style="text-align: center;">With compliments from the Desai &amp; Unadkat Family!</h1>
<p>&nbsp;</p>

  </div>
</div>
</div>

</body>
</html>