</style>
</head>
<body>

<div class="transbox">
<div class="col-lg-10 col-md-offset-1">
<div class="well bs-component">
<h1 style="text-align: center;">&nbsp;</h1>

<h1 style="text-align: center;">SONAL &amp; NILAY</h1>
<h1 style="text-align: center;"><span style="color: #ff0000;"><strong>August 5, 2016</strong></span></h1>
<h1 style="text-align: center;">Welcome to our Wedding Page!</h1>
<h2 style="text-align: center;">We would like to thank you for visiting our wedding website!</h2>
<h2 style="text-align: center;">With only a few months left, we are more than excited to have you share our special day and look forward to seeing everyone at our wedding. Thank you to all that have expressed congratulations</h2>

<h1 style="text-align: center;">With compliments from the Unadkat &amp; Desai Family!</h1>

<h1 style="text-align: center;"><span style="color: #ff0000;">Our Special Day</span></h1>
<h3 style="text-align: center;"><strong>Our Ceremony</strong></h3>
<p style="text-align: center;">August 5, 2016</p>
<p style="text-align: center;">Time: 1 pm</p>
<p style="text-align: center;">Location: Laxmi Narayan Mandir Surrey</p>
<div class="mod" style="text-align: center;" data-md="1002" data-ved="0ahUKEwinxPDO7MDMAhVN8GMKHRTMB20QkCkIdygCMBI">
<div class="_eFb">
<div class="_mr kno-fb-ctx" data-dtype="d3adr" data-ved="0ahUKEwinxPDO7MDMAhVN8GMKHRTMB20QghwIeCgAMBI"><span class="_xdb">Address: </span><span class="_Xbe">8321 140 St, Surrey, BC</span></div>
</div>
</div>
<div class="mod" style="text-align: center;" data-md="1006" data-ved="0ahUKEwinxPDO7MDMAhVN8GMKHRTMB20QkCkIeSgDMBM">
<div class="_eFb">
<div class="_mr kno-fb-ctx" data-dtype="d3ph" data-ved="0ahUKEwinxPDO7MDMAhVN8GMKHRTMB20Q8I0BCHooADAT"><span class="_Xbe kno-fv"><span class="_lXk">Phone:</span><span data-dtype="d3ph">(604) 596-4977</span></span></div>
</div>
</div>

<h3 style="text-align: center;"><strong>Our Reception</strong></h3>
<p style="text-align: center;">August 7, 2016</p>
<p style="text-align: center;">Time: 6 Pm</p>
<p style="text-align: center;">Location: Rivserside Signature Banquet Hall</p>
<div class="mod" style="text-align: center;" data-md="1002" data-ved="0ahUKEwijhIrz7MDMAhVFKGMKHXwzC6MQkCkIiAEoAjAS">
<div class="_eFb">
<div class="_mr kno-fb-ctx" data-dtype="d3adr" data-ved="0ahUKEwijhIrz7MDMAhVFKGMKHXwzC6MQghwIiQEoADAS"><span class="_xdb">Address: </span><span class="_Xbe">13030 76 Ave, Surrey, BC V3W 2V6</span></div>
</div>
</div>
<div class="mod" data-md="1006" data-ved="0ahUKEwijhIrz7MDMAhVFKGMKHXwzC6MQkCkIigEoAzAT">
<div class="_eFb">
<div class="_mr kno-fb-ctx" style="text-align: center;" data-dtype="d3ph" data-ved="0ahUKEwijhIrz7MDMAhVFKGMKHXwzC6MQ8I0BCIsBKAAwEw"><span class="_Xbe kno-fv"><span class="_lXk">Phone:</span><span data-dtype="d3ph">(604) 597-2222</span></span></div>
</div>
</div>

  </div>
</div>
</div>

</body>
</html>